<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.OHRM.qa.TestCases.Home_Page_Test"/>
      <class name="com.OHRM.qa.TestCases.Login_Page_Test"/>
      <class name="com.OHRM.qa.TestCases.AddEmp_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
